* {
    box-sizing: border-box;
}



.button {
    background-color: #eee;
    color: black;
    float: left;
    border: 1px solid gainsboro;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.button:hover {
    background-color: #777;
}


.content {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 50%;
  }

#Home{
    background-color: red;
}
#News{
    background-color: green;
}
#Contact{
    background-color: blue;
}
#About{
    background-color: orange;
}